@model MvcApplication2.Models.Fenykep

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Album", FormMethod.Post, new {enctype="multipart/form-data"} ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Fenykep</legend>

        <input type="file" id="file" name="file" />

        <p>
            <input type="submit" id ="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
